.jumbotron, container, h1 {
		background-color: black;
		color: rgb(252, 6, 6);
		font-size: 60px;
		font-family: 'Creepster', cursive;
	}
		
	p {
		font-family: 'Creepster', cursive;
		color: red;
		background-color: black;
	}
	
	
